
#header{
  padding: 60px;
  transition-timing-function: ease;
  transition-duration: 2s;

}

img {
border-radius: 50%;
position: absolute;
border: solid 15px;

left: 0;
right: 0;
margin: auto;
width: 170px;
}

.butons {
  margin-top: 120px;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}